@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}



.Animation-translateY-opacity-enter,
.Animation-translateY-opacity-appear {
    opacity: 0;
    transform: translateY(15px);
}

.Animation-translateY-opacity-enter-active,
.Animation-translateY-opacity-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1200ms, transform 1200ms;
}

.Animation-translateY-opacity-exit {
    opacity: 1;
    transform: translateY(0);
}

.Animation-translateY-opacity-exit-active {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 1500ms, transform 1500ms;
}